body{
    background-color: rgb(196, 194, 173);
}
.card{
  background-color: aliceblue;
  border : 2px solid black;
  width: 350px;
  text-align: center;
  margin-top:50px;
  margin-left :auto;
  margin-right: auto;
  padding-bottom: 15px;
  border-radius:20px;
  overflow: hidden;
}
.card img{
  width: 100%;
}
.card button{
    width: 60%;
    border-radius: 20px;
    padding :10px;
}